doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		include ../includes/head
	body
		.container
			.row
				.col-md-5
					form(method="POST",action="/user/update",enctype="multipart/form-data")
						.modal-header 用户修改
						.modal-body
							if user._id
								input(type="hidden", name="user[_id]", value="#{user._id}")
								input(type="hidden", name="user[name]", value="#{user.name}")
							.form-group
								label(for="signupName") 用户名
								input#signupName.form-control(name="user[name]",type="text",value="#{user.name}",disabled)
							.form-group
								label(for="signupPassword") 密码
								input#signupPassword.form-control(name="user[password]",type="password")
							.form-group
								label(for="signupPortrait") 头像
								input#signupPortrait.form-control(type="file", name="uploadPortrait")
							.form-group
								label(for="signupGender") 性别
								select#signupGender.form-control(name="user[gender]",value="#{user.gender}")
									option(value="male") 男
									option(value="female") 女
							.form-group
								label(for="signupPhoneNumber") 电话号码
								input#signupPhoneNumber.form-control(name="user[phoneNumber]",type="text",value="#{user.phoneNumber}")
							.form-group
								label(for="signupEmail") E-mail
									input#signupEmail.form-control(name="user[email]",type="text",value="#{user.email}")
									div#signupEmailMessage
									button#sendCheckcode.btn.btn-default(type="button",disabled) 发送验证码
							.form-group
								label 输入验证码，验证码已发送到邮箱
								input#signupCheck.form-control(type="text")
								div#signupCheckcodeMessage
						.modal-footer
							button.btn.btn-default(type="button", data-dismiss="modal") 关闭
							button.btn.btn-success#signupSubmit(type="submit",disabled) 提交	
		script(src="/js/signupCheck.js")				